disturl="https://electronjs.org/headers"
target="30.5.1"
ms_build_id="10262041"
runtime="electron"
build_from_source="true"
legacy-peer-deps="true"
timeout=180000
# For electron-builder
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
shamefully-hoist=true
# For China 🇨🇳 developers，解决node install HTTPError: Response code 404 (Not Found)错误
electron_mirror=https://npmmirror.com/mirrors/electron/
